@use "../helpers" as *;

// Header
header {
  height: 100px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 150px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    button {
      color: $pink;
      background-color: #fff;
      border: 1px solid $pink;
      border-radius: 50px;
      cursor: pointer;
      font-size: clamp(0.85rem, 1vw, 1rem);
      padding: clamp(0.4rem, 1vw, 0.6rem) clamp(0.8rem, 2vw, 1.2rem);

      &:active {
        color: $light-pink;
        border-color: $light-pink;
      }
    }
  }
}

// Hero section
.hero {
  margin: 100px 0;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: clamp(1.8rem, 3vw + 1rem, 2.7rem);
      line-height: 1.5;
      margin-bottom: 40px;
    }

    p {
      font-size: clamp(0.95rem, 1.5vw, 1.1rem);
      line-height: 1.5;
      width: clamp(280px, 60vw, 500px);
      margin-bottom: 100px;
    }

    .get-started {
      background-color: $pink;
      color: #fff;
      font-weight: $font-bold;
      font-size: clamp(0.9rem, 2vw, 1.1rem);
      padding: clamp(0.6rem, 1.5vw, 1rem) clamp(1.8rem, 4vw, 4rem);
      border-radius: 50px;
      text-decoration: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

      &:active {
        background-color: $light-pink;
      }
    }

    .hero-img {
      margin: 100px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .statistic {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;

      @include respond(md) {
        flex-direction: column;
        gap: 100px;
      }

      .card {
        position: relative;
        text-align: center;

        img {
          position: absolute;
          top: -35px;
          left: 0;
        }

        h1 {
          font-size: clamp(2.5rem, 6vw, 5rem);
          font-family: $font-body;
          margin: 0;
        }

        span {
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          margin-top: 10px;
          color: #666;
        }
      }
    }
  }
}

// Features section
.features {
  .column {
    margin: 5rem auto;

    .desktop-top-bg,
    .desktop-bottom-bg {
      display: block;
      width: 100%;
    }

    .mobile-top-bg,
    .mobile-bottom-bg {
      display: none;
    }
  }

  .column-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: center;
    padding: 5rem;

    &.first,
    &.third {
      background-color: $pale-blue;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    &.first img,
    &.third img {
      order: 2;
    }

    &.first div,
    &.third div {
      order: 1;
    }

    h2 {
      font-size: clamp(1.6rem, 3vw, 2.5rem);
      margin-bottom: 20px;
    }
  }
}

// Get started section
.get-started-section {
  margin: 100px auto;
  text-align: center;

  h3 {
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    margin-bottom: 50px;
  }

  .get-started {
    background-color: $pink;
    color: #fff;
    font-weight: $font-bold;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    padding: clamp(0.6rem, 1.5vw, 1rem) clamp(1.8rem, 4vw, 4rem);
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

    &:active {
      background-color: $light-pink;
    }
  }
}

// Footer
.desktop-footer-bg {
  display: block;
  max-width: 100%;
}

.mobile-footer-bg {
  display: none;
}

footer {
  background-color: $dark-cyan;
  color: #fff;
  font-size: 1rem;

  .container {
    padding: 100px 0;

    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include respond(md) {
        flex-direction: column-reverse;
        gap: 100px;
      }

      .site-info {
        width: 30%;

        @include respond(md) {
          width: 50%;
        }

        .logo {
          width: 200px;
          margin-bottom: 30px;

          img {
            max-width: 100%;
            height: auto;
          }
        }

        p {
          line-height: 1.5;
          margin-bottom: 30px;
        }

        span {
          display: block;
          margin-bottom: 5px;

          img {
            max-width: 100%;
            height: auto;
            margin-right: 25px;
          }
        }

        .social-icons {
          margin-top: 30px;

          i {
            font-size: 2rem;
            margin-right: 10px;
            transition: background-color 0.3s ease, color 0.3s ease;
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
              background-color: #1f9df1fa;
            }
          }
        }
      }

      .newsletter {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: start;

        @include respond(md) {
          width: 50%;
        }

        h2 {
          font-size: clamp(1.4rem, 2.5vw, 2rem);
          margin-bottom: 10px;
        }

        p {
          line-height: 1.5;
          margin-bottom: 30px;
        }

        form {
          input {
            margin-right: 30px;
            padding: 10px 30px;
            border: none;
            border-radius: 6px;

            @include respond(md) {
              display: block;
              margin-bottom: 10px;
              min-width: 100%;
            }
          }

          button {
            padding: 10px 30px;
            font-weight: $font-semi-bold;
            background-color: $pink;
            color: #fff;
            border: none;
            border-radius: 6px;
          }
        }
      }
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
