// Colors
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$dark-cyan: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);

// Fonts
$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;

$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

// Breakpoints
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);

